#page1 {
  text-align: center;
}

#page2 {
  display: none;

}

#page3 {
  display: none;

}

#salifornia {
  display: none;
}

#tussia {
  display: none;
}

#vivimarlostown {
  display: none;
}

#tostralia {
  display: none;
}
