#page1 {
  text-align: center;
  border: 10px solid #709fb0;
  padding: 200px;
  margin: 10px;
  background-color: #f4E8c1;
}

#page2 {
  display: none;
  border: 10px solid #709fb0;
  padding: 200px;
  margin: 10px;
  background-color: #f4E8c1;
}

#page3 {
  display: none;
  border: 10px solid #709fb0;
  padding: 200px;
  margin: 10px;
  background-color: #f4E8c1;
}

#salifornia {
  display: none;
  color: #351f39;
  background-color: #f4E8c1;
  border: 5px solid #726A95;
  padding: 15px;
  margin: 15px;
}

#tussia {
  display: none;
  color: color: #351f39;
  background-color: #f4E8c1;
  border: 5px solid #726A95;
  padding: 15px;
  margin: 15px;
}

#vivimarlostown {
  display: none;
  color: #351f39;
  background-color: #f4E8c1;
  border: 5px solid #726A95;
  padding: 15px;
  margin: 15px;
}

#tostralia {
  display: none;
  color: #351f39;
  background-color: #f4E8c1;
  border: 5px solid #726A95;
  padding: 15px;
  margin: 15px;
}

body {
  color: #351f39;
  background-color: #351f39;
}
img {
  border: 5px solid #726A95;
  padding: 15px;
  margin: 15px;
  background-color: #a0c1b8;
}
